/* CSS Variables */

:root {
  --color-primary: #6750a4;
  --color-primary-container: #eaddff;
  --color-on-primary: #ffffff;
  --color-secondary: #625b71;
  --color-secondary-container: #e8def8;
  --color-on-secondary: #ffffff;
  --color-tertiary: #7d5260;
  --color-tertiary-container: #ffd8e4;
  --color-on-tertiary: #ffffff;
  --color-surface: #fffbfe;
  --color-on-surface: #1c1b1f;
}

body {
  background-color: var(--color-surface);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
h1,
h2,
h3,
ul,
ol,
li,
p,
a,
button {
  font-family: "Rubik" sans-serif;
  color: var(--color-on-surface);
}

.site-header {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  padding: 1rem;
}
/* TODO: create js toggle for nav-links */
.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2rem;
  /* display: none; */
  gap: 8px;
}
.nav-landmark {
  display: flex;
  align-items: center;
}
.nav-link,
.nav-home {
  display: block;
  text-decoration: none;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
  color: var(--color-on-primary);
}
/* Page Header Styles */

.hero-section {
  background-image: url("../images/hero-section.jpg");
  background-position: center;
  background-size: cover;
  height: 90vh;
}
/* TODO: Create overlay on small screen size */
.hero-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50%; */
  padding: 2rem;
}

.hero-layout h1 {
  font-size: clamp(3rem, 10vw, 5rem);
  font-family: "Rubik Distressed", system-ui, sans-serif;
}

.hero-actions {
  display: flex;
  gap: 2rem;
}

.hero-actions a {
  display: block;
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  font-weight: 500;
  background-color: var(--color-on-tertiary);
  text-align: center;
  padding: 0.5rem 1em;
  border-radius: 25px;
  text-decoration: none;
}

.hero-actions .action-primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

/* Card Layout & Design */
.flex-layout {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100vw;
  display: flex;
  gap: 1rem;
  background-color: var(--color-secondary);
}
.card img {
  width: 40%;
}
.card-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4px;
}
.card-layout p,
.card-layout h3,
.card-layout a {
  width: 30ch;
  color: var(--color-on-secondary);
}
@media screen and (min-width: 500px) {
  .site-header nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .hero-layout {
    height: 50%;
  }
  body {
    background-color: var(--color-tertiary-container);
  }

  .card {
    width: 20rem;
    border-radius: 20px;
    flex-direction: column;
  }
  .card img {
    width: clamp(20rem, 15vw, 26rem);
    height: clamp(16rem, 10vw, 20rem);
    object-fit: cover;
    border-radius: 20px;
  }
  .card-layout {
    padding-left: 1rem;
  }
  .card-layout h3 {
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  }
  .card-layout p {
    max-width: 30ch;
  }
  .card-layout a {
    display: block;
    padding-bottom: 1rem;
  }
}
